SERVICE_NAME=service-text-embedding
SERVICE_VERSION=0.1.0
HOST=te
PORT=8005
CPU_FALLBACK=true

SENTENCE_TRANSFORMER_MODEL=keepitreal/vietnamese-sbert
SENTENCE_TRANSFORMER_BATCH_SIZE=32

MMBERT_MODEL_NAME=jhu-clsp/mmBERT-base
MMBERT_MAX_LENGTH=4096
MMBERT_BATCH_SIZE=32

LOG_LEVEL=DEBUG
LOG_FORMAT=console
LOG_FILE=./logs/text_embedding.log
LOG_ROTATION=100 MB
LOG_RETENTION=30 days
